* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  font-family: sans-serif;
}
main {
  width: 100%;
}

header{
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid rgba(128, 128, 128, 0.4);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  max-width: 470px;
  min-width: 250px;
  width: 100%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(278deg, rgb(155 42 118) 0%, rgb(102 44 99) 51%, rgb(0 0 0) 100%);
  color: white;
  padding: 1rem .5rem;
  border-radius: 1rem;
}

.card h3{
    font-size: 2rem;
}
.search-field{
  display: flex;
  flex-wrap: wrap; 
  width: 90%;
  gap: 0.5rem;
  justify-content: center;
}

.card input{
    height: 60px;
    width: 90%;
    max-width: 470px;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    flex: 1;
    margin-right: 16px;
}

.card button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.weather-data-fetched{
  width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.weather-icon{
  width: 170px;
}

.temperature{
  font-size: 5rem;
  font-weight: 600;
}

.city{
 font-size: 3rem;
 margin-block: 2rem;
  font-weight: 400;
}

.humidity-wind{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
    margin-right: 10px;
}

.humidity-value, .wind-speed{
  margin-bottom: .25 rem;
}

@media (max-width: 600px) {
  .card h3 {
    font-size: 1.5rem;
  }

  .weather-icon {
    width: 100px;
  }

  .temperature {
    font-size: 2rem;
  }

  .city {
    font-size: 1.2rem;
  }

  .col img {
    width: 20px;
  }

  .col {
    font-size: 0.8rem;
  }

  .humidity-wind {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .card{
    width: 70%;
    
  }
}